.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  margin-top: 9px;
  padding: 25px;
  padding-bottom: 35px;
}

.subtotal_gift {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.subtotal_gift > input {
  margin-right: 5px;
}

.subtotal > button {
  background: #fbcc32;
  border: none;
  border-radius: 5px;
  margin-top: 17px;
  padding: 8px;
}

.subtotal > p {
  font-size: 18px;
  font-weight: 500;
}
